me-graphau
megraphau
mmpose
OpenGraphAU
Demo_Video_Nottingham.mp4
outputs_HSEmotion/*
outputs_OpenGraphAU/*
outputs_OpenFace/*
outputs_NeMo_ASR/*
outputs_MMPose/*
outputs_MMPose_Verify/*
outputs_Combined/*
outputs_Combined_PatData/*
!outputs_MMPose_Verify/.gitkeep
outputs_Combined/*
inputs_speech/*
MMPose_models/*
!MMPose_models/.gitkeep
MMPose_info/*
!MMPose_info/.gitkeep
MMPose_inputs/*
!MMPose_inputs/.gitkeep
**/.DS_Store
tmp_save_deepface/*
__pycache__/