me-graphau
megraphau
mmpose
yolo_tracking
OpenGraphAU
inputs/larger_vids/*
outputs_HSEmotion/*
outputs_OpenGraphAU/*
outputs_OpenFace/*
outputs_NeMo_ASR/*
outputs_MMPose/*
outputs_MMPose_Verify/*
outputs_Combined/*
outputs_Combined_PatData/*
outputs_Combined_Outpt/*
outputs_Combined_Outpt_PatData/*
visualizer_Combined/output_videos/*
outputs_Yolov8/*
outputs_Yolov8_PatData/*
!outputs_MMPose_Verify/.gitkeep
inputs_speech/*
MMPose_models/*
!MMPose_models/.gitkeep
MMPose_info/*
!MMPose_info/.gitkeep
MMPose_inputs/*
!MMPose_inputs/.gitkeep
**/.DS_Store
tmp_save_deepface/*
__pycache__/
feature_extraction/.ipynb_checkpoints/*
feature_extraction/.ipynb_checkpoints/
feature_extraction/Inpatient\ Mood/.ipynb_checkpoints/
feature_extraction/Outpatient\ Mood/.ipynb_checkpoints/
feature_extraction/Pain/.ipynb_checkpoints/